body{
    background:#ffe4ec;
    font-family:sans-serif;
    text-align:center;
}

.game{
    margin-top:50px;
}

#hamster{
    width:250px;
    height:auto;
}

.stats{
    margin:20px;
    font-size:20px;
}

button{
    padding:12px 20px;
    margin:5px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
}
